<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>

<body>
    <header>
        <h1 class="header__heading">My Blog</h1>
    </header>
    <main class="main container">
        <div class="menu">
            <h2>Menu</h2>
            <ul class="menu__list">
                <li>Main page</li>
                <li><a href="//localhost:8085/articles/article">Create article</a></li>
                <li><a href="//github.com/vsPEach">about me</a></li>
            </ul>
        </div>

        <h2>{{.Title}}</h2>
        <ul>
            {{range .Data}}
            <li><a href="//localhost:8085/articles/{{.ID}}"><h3>{{ .Title }}</h3></li>
            <li><a href="//articles/article/delete/">delete</a></li>
            {{end}}
        </ul>
    </main>
</body>
</html>